:root {
  --main-color : #ffd95c;
  --main-color-hover : #e6c34f;
  --dark-color : #2b2b2b;
  --container-width : 1100px;
}

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 2rem;
}

.button {
  text-decoration: none;
  display: inline-block;
  margin-top: 1.3em;
  padding: 0.7em 1.2em;
  background-color: var(--main-color);
  color: #464646;
  border-radius: 30px;
  font-size: 1.1em;
}

.button:hover {
  background-color: var(--main-color-hover);
  color: #2e2a2a;
  transition: all 0.3s;
}

/* * BREAKPOINT TABLET */
@media screen and (max-width: 768px){
  /* Kode CSS Di Sini */

  /* HEADER */
  .nav-container header label {
    display: inline-block;
    color: white;
    font-style: normal;
    font-size: 2rem;
    padding: 0.5rem;
    padding-left: 1rem;
}


.nav-container header {
    width: 100%;
}


.nav-container nav ul {
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
}


.nav-container li a {
    display: block;
    color: white;
    background-color: var(--dark-color);
    padding: 0 2em;
    text-decoration: none;
    text-transform: uppercase;
    height: auto;
}


.nav-container li a:hover {
    border-bottom: none;
}


.nav-container .logo {
    position: absolute;
    right: 0px;
    z-index: 1000;
}


.nav-container .logo img {
    width: 80px;
    cursor: pointer;
}


.nav-container nav {
    display: none;
}


.nav-container header input:checked~nav {
    display: flex;
}
/*  *END OF HEADER */

}

/* *BREAKPOINT HANDPHONE */
@media screen and (max-width: 481px){
  /* *Kode CSS Di Sini */
}


/* *Header */
.nav-container {
  background-color: var(--dark-color);
    position: sticky;
    top: 0px;
    z-index: 100;
  }


  .nav-container header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 80%;
      height: 60px;
      margin: 0 auto;
  }
  
  
  .nav-container .logo img {
      width: 180px;
      padding-top: 10px;
      cursor: pointer;
  }
  
  
  .nav-container ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
  }
  
  
  .nav-container li a {
      display: block;
      color: white;
      padding: 0 1.1em;
      text-decoration: none;
      text-transform: uppercase;
      height: 60px;
      line-height: 60px;
  }
  
  
  .nav-container li a:hover {
      color: var(--main-color);
      transition: all 0.3s;
      border-bottom: 5px solid var(--main-color);
  }
  
  
  .nav-container header label,
  #hamburger {
      display: none;
  }
  
  /* * END OF HEADER *