:root{
  --main-color : #ffd95c;
  --main-color-hover : #e6c34f;
  --dark-color : #2b2b2b;
  --container-width : 1100px;
}

*{
  box-sizing: border-box;
}
h1{
  padding: 0;
  margin: 0;
  font-size: 32px;
}

html, body{
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button {
  background-color: var(--main-color);
  margin-top: 1.4em;
  padding: 0.7em 1.2em;
  text-decoration: none;
  display: inline-block;
  color: #464646;
  border-radius: 15px;
  font-size: 1.3em;
}

.button:hover {
  background-color: var(--dark-color);
  border-radius: 50px;
  color: var(--main-color);
  transition: ease-in-out .5s;
}

/** HEADER*/
.nav-container{
  background-color: var(--dark-color);
  position: sticky;
  top: 0;
  z-index: 100;
}
.nav-container header nav{
  display: none;
  position: absolute;
  width: 100%;
  top: 60px;
  left: 0;
}
.nav-container header input#hamburger{
  display: none;
}
.nav-container header input:checked~nav{
  display: inline-block;
}
.nav-container header label{
  font-size: 32px;
  padding: 8px;
  color: white;
  font-style: normal;
}
.nav-container header{
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 0 auto;
}
.nav-container .logo img{
  width: 180px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.nav-container header nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-container header nav ul li{
  height: 60px;
  background-color: var(--dark-color);
}
.nav-container header nav ul li a{
  height: 60px;
  text-decoration: none;
  color: white;
  line-height: 60px;
  text-transform: uppercase;
  padding: 0 16px;
  display: block;
}
.nav-container header nav ul li a:hover{
  color: var(--main-color);
  transition: ease-in-out 0.3s;
  border-bottom: 5px solid var(--main-color);
}


/** HERO */
.hero-container {
  background-image: linear-gradient(to right bottom,rgba(0, 0, 0, 0.5) ,rgba(0, 0, 0, 0.1), 
                  rgba(0, 0, 0, 0.35));
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  text-align: center;
  color: white;
  padding: 1rem;
}

.hero-text h1 {
  font-size: 4em;
  color: var(--dark-color);
}

.hero-text p {
  font-size: 2em;
  margin: 0;
  color: var(--dark-color);
}
/* END OF HERO */

/** SHOWCASE */
.showcase-container:nth-child(
  even
) {
  background-color: #f0f0f0;
}

.showcase{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 32px;
}

.showcase-image, .showcase-text  {
  margin: 16px;
  width: auto;
}

.showcase-image {
  width: 100%;
  border: 1px solid silver;
  padding: 4px;
}
/** END SHOWCASE */


@media screen and (min-width: 768px){
  /** Header*/ 
  .nav-container header nav{
      position: unset;
      display: block;
  }
  .nav-container nav ul{
      display: flex;
      justify-content: end;
  }

  .nav-container header label {
    display: none;
  }

  /** Hero */
  
}